.mealDetailInfo img{
    width: 250px;
    height: 180px;
    border-radius: 7px;
}

#mealContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.mealDetailInfo{
    margin: 25px;
    padding: 25px;
    width: 430px;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.mealDetailInfo h2{
    margin-top: 10px;
}
.mealItemList{
    border: 1px solid rgb(247, 244, 239);
    border-radius: 20px;
    text-align: center;
    width: 201px;
    background-color: rgba(228, 227, 227, 0.822);
}
.mealItemList img {
    width: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

